Dear sir, i have been facing the issue in loading the data  to SQL and its been more than a week and i am still stuck at the same point. 
Please assist me in resolving this issue. 
I have attached the relevant CSV.

In [1]:
#creating database

import mysql.connector as conn

try:
    mydb = conn.connect(host= 'localhost', user ='root', password="Root@1234")
    cursor = mydb.cursor()
    # check if the connection is established
    print(mydb.is_connected())

    query = "Create database Attribute_DataSet"
    
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1007 (HY000): Can't create database 'attribute_dataset'; database exists

In [2]:
#creating table 

import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Attribute_DataSet',user="root", passwd="Root@1234",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE Attribute_table (Dress_ID INT(10) , Style VARCHAR(20),Price VARCHAR(10)," \
            "Rating float(5), size VARCHAR(10)  , season VARCHAR(20) ,neckline Varchar(20), seleeveLength Varchar(10), waiseline Varchar(10), material Varchar(10), fabricType Varchar(10), decoration Varchar(10), pattern_type Varchar(10), record int(5) )"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1050 (42S01): Table 'attribute_table' already exists

In [3]:
#loading the data 

import pandas as pd
import csv
import mysql.connector as connection

mydb = connection.connect(host='localhost', database = 'Attribute_DataSet' , user='root', passwd='Root@1234', use_pure= True)
cur= mydb.cursor()
try:

    with open ('Attribute_DataSet.csv', 'r') as data:
        next(data) # to skip the first rwo
        next(data)
        data_csv = csv.reader(data, delimiter = ",")
        #print (data_csv)
        for i in data_csv:
            for j in i :
               # print(j)
                cur.execute('INSERT INTO Attribute_table  values ({values})'.format(values=(j)))
                print('all the data inserted')
except  Exception as e:
    print(e)
    
    
mydb.commit()

1136 (21S01): Column count doesn't match value count at row 1

In [ ]:
#ERROR_ 1136 (21S01): Column count doesn't match value count at row 1

# When trying to load only  5 row data  of same file

In [ ]:
#Note_ new excel file created using pandas head  and file name test

In [4]:
import pandas as pd
import csv
import mysql.connector as connection

mydb = connection.connect(host='localhost', database = 'Attribute_DataSet' , user='root', passwd='Root@1234', use_pure= True)
cur= mydb.cursor()
try:

    with open ('test.csv', 'r') as data: # using first five row data  file 
        next(data) # to skip the first rwo
       
        data_csv = csv.reader(data, delimiter = ",")
        #print (data_csv)
        for i in data_csv:
            for j in i :
                #print(j)
                cur.execute('INSERT INTO Attribute_table  values ({values})'.format(values=(j)))
                print('all the data inserted')
except  Exception as e:
    print(e)
    
    
mydb.commit()

1136 (21S01): Column count doesn't match value count at row 1

In [ ]:
#ERROR_ 1136 (21S01): Column count doesn't match value count at row 1

# When trying to load only four columns of the same files

Note_ new file has been created and it has only four column of the same file  and file name is test 4

In [5]:
# creating table that has only four columns 

import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Attribute_DataSet',user="root", passwd="Root@1234",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE test_4 ( Dress_ID INT(10) , Style VARCHAR(20),Price VARCHAR(10),Rating float(5)  )"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1050 (42S01): Table 'test_4' already exists

In [6]:
# loading the in the new table that has four column 
import pandas as pd
import csv
import mysql.connector as connection

mydb = connection.connect(host='localhost', database = 'Attribute_DataSet' , user='root', passwd='Root@1234', use_pure= True)
cur= mydb.cursor()
try:

    with open ('test4.csv', 'r') as data:
        next(data) # to skip the first rwo
       
        data_csv = csv.reader(data, delimiter = ",")
        #print (data_csv)
        for i in data_csv:
            for j in i :
               # print(j)
                cur.execute('INSERT INTO test_4  values ({values})'.format(values=(j)))
                print('all the data inserted')
except  Exception as e:
    print(e)
    
    
mydb.commit()

1136 (21S01): Column count doesn't match value count at row 1

In [ ]:
#ERROR_ 1136 (21S01): Column count doesn't match value count at row 1